<h1>Edit the Jobs created for a Boat</h1>

<%= form_for([@boat, @job]) do |f| %>
  <%= f.label :origin %>
  <%= f.text_field :origin %><br><br>
  <%= f.label :destination %>
  <%= f.text_field :destination %><br><br>
  <%= f.label :contneeded %>
  <%= f.text_field :contneeded %><br><br>
  <%= f.label :cargo %>
  <%= f.text_field :cargo %><br><br>
  <%= f.label :jobcost %>
  <%= f.text_field :jobcost %><br><br>
  <br><br>
  <%= f.submit 'Edit'%>
<% end %>