<h1>Edit the Jobs created for a Boat</h1>

<%= form_for([@boat, @job]) do |f| %>
  <%= f.label :"Type Origin Choice" %>
  <%= f.select(:origin, [['US'], ['Canada'], ['Mexico'], ['Cuba']], :class => "drop-down") %><br><br>
  <%= f.label :"Type Destination Choice" %>
  <%= f.select(:destination, [['Italy'], ['China'], ['India'], ['Japan']], :class => "drop-down") %><br><br>
  <%= f.label :"containers needed" %>
  <%= f.text_field :contneeded %><br><br>
  <%= f.label :"Cargo description" %>
  <%= f.text_field :cargo %><br><br>
  <%= f.label :"Appropriate Job Cost" %>
  <%= f.text_field :jobcost %><br><br>

  <%= f.submit 'Edit'%>
<% end %>

<h3><%= link_to "Your Home Page ", user_path(current_user) %><br><%=link_to " Go Back", :back %></h3>