<h1>Edit the Jobs created for a Boat</h1>

<%= form_for([@boat, @job]) do |f| %>
  <%= f.label :"Type Origin Choice" %>
  <%= f.text_field :origin %><select>
  <option value="US">US</option>
  <option value="Canada">Canada</option>
  <option value="Mexico">Mexico</option>
  <option value="Cuba">Cuba</option>
</select><br><br>
  <%= f.label :"Tpye Destination Choice" %>
  <%= f.text_field :destination %><select>
  <option value="Italy">Italy</option>
  <option value="China">China</option>
  <option value="India">India</option>
  <option value="Japan">Japan</option>
</select><br><br>
  <%= f.label :contneeded %>
  <%= f.text_field :contneeded %><br><br>
  <%= f.label :cargo %>
  <%= f.text_field :cargo %><br><br>
  <%= f.label :"Appropriate Job Cost" %>
  <%= f.text_field :jobcost %><br><br>

  <%= f.submit 'Edit'%>
<% end %>

<h3><%= link_to "Your Home Page ", user_path(current_user) %><br><%=link_to " Go Back", :back %></h3>