<h1>Create Jobs for the <%= @boat.name %></h1>

<%= form_for([@boat, @job])  do |f| %>
  <%= f.label :origin %>
  <%= f.text_field :origin %><br><br>
  <%= f.label :destination %>
  <%= f.text_field :destination %><br><br>
  <%= f.label :"containers needed" %>
  <%= f.text_field :contneeded %><br><br>
  <%= f.label :cargo %>
  <%= f.text_field :cargo %><br><br>
  <%= f.label :"job cost" %>
  <%= f.text_field :jobcost %><br><br>

  <%= f.submit 'Create'%>
<% end %>

<h3><%= link_to "Your Home Page ", user_path(current_user) %><br><%=link_to " Go Back", :back %></h3>