<h1>Edit Boats</h1>

<%= form_for @boat do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :containers %>
  <%= f.text_field :containers %><br><br>
  <%= f.label :"Location Choice" %>
  <%= f.select(:location, [['NY'], ['CT'], ['NJ'], ['Boston']], :class => "drop-down") %>
  <br><br>
  <%= f.submit 'Edit'%>
<% end %>

<h3><%= link_to "Your Home Page ", user_path(current_user) %><br><%=link_to " Go Back", :back %></h3>