<h1>Create a New Boat</h1>

<%= form_for @boat, :url => @boat_path, :html => { :multipart => true } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :containers %>
  <%= f.text_field :containers %><br><br>
  <%= f.label :"Type Location Choice" %>
  <%= f.text_field :location %><select>
  <option value="Boston">Boston</option>
  <option value="NY">NY</option>
  <option value="NJ">NJ</option>
  <option value="CT">CT</option>
</select><br><br>
  <%= f.label :"Upload the Boat Pic"%>
  <%= f.file_field :avatar %>
  <br><br>
  <%= f.submit 'Create'%>
<% end %>
  
<h3><%= link_to "Your Home Page ", user_path(current_user) %><br><%=link_to " Go Back", :back %></h3>